<mat-form-field>
    <mat-label>  קטגוריה</mat-label>
    <input matInput type="number" formControlName="secondCtrl" placeholder="" required>
</mat-form-field>

<mat-form-field>
    <mat-label>שם שירות</mat-label>
    <input matInput type="text">
</mat-form-field>

<mat-form-field>
    <mat-label>אפשרות לתורים מראש?</mat-label>
    <input matInput type="text">
</mat-form-field>

<!--change to yes\no coponent and display the next field only if yes-->
<mat-form-field>
    <mat-label>מספר ימים מראש</mat-label>
    <input matInput type="number">
</mat-form-field>