<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label> קטגוריה</mat-label>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-form-field>
  <mat-label>שם שירות</mat-label>
  <input matInput type="text">
</mat-form-field>

<mat-form-field>
  <mat-label>אפשרות לתורים מראש?</mat-label>
  <input matInput type="text">
</mat-form-field>

<!--change to yes\no coponent and display the next field only if yes-->
<mat-form-field>
  <mat-label>מספר ימים מראש</mat-label>
  <input matInput type="number">
</mat-form-field>