<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label> קטגוריה</mat-label>
    <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="category" [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-form-field>
  <mat-label>שם שירות</mat-label>
  <input matInput  formControlName="serviceName" type="text">
</mat-form-field>

<mat-checkbox class="example-margin"  [(ngModel)]="isAdvanceEnabled" > אפשרות לתורים מראש? </mat-checkbox>


<!--change to yes\no coponent and display the next field only if yes-->
<mat-form-field *ngIf="isAdvanceEnabled">
  <mat-label>מספר ימים מראש</mat-label>
  <input matInput formControlName="numOfDays" type="number">
</mat-form-field>