<mat-form-field>
    <mat-label> מספר עובדים במשמרת</mat-label>
    <input matInput type="number" formControlName="third" placeholder="" required>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>ימי פעילות:</mat-label>
    <mat-select [formControl]="days" multiple>
        <mat-select-trigger>
            {{days.value ? days.value[0] : ''}}
            <span *ngIf="days.value?.length > 1" class="example-additional-selection">
                (+{{days.value.length - 1}} {{days.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>
        <mat-option *ngFor="let day of daysList" [value]="day">{{day}}</mat-option>
    </mat-select>
</mat-form-field>
<!--div class="p-fluid p-grid p-formgrid"-->

    <div class="p-field p-col-12 p-md-4">
        <label for="timeonly">שעת התחלה</label>
        <p-calendar [(ngModel)]="startTime" [timeOnly]="true" inputId="timeonly"></p-calendar>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <label for="timeonly">שעת סיום</label>
        <p-calendar [(ngModel)]="endTime" [timeOnly]="true" inputId="timeonly"></p-calendar>
    </div>
<!--/div-->