<img class="logo" src="../../assets/logo/logoWithBackground.svg">


<mat-card class="card">
  <mat-card-title class="titleCard">הכנס לעסק</mat-card-title>
  <mat-card-content class="cardContent">
<div>
    <input class="input" matInput #password type="password" placeholder="הכנס סיסמא" aria-label="Number">
</div>
    <div class="input" *ngIf="business">{{business.BusinessName}}</div>

    <div>
      <mat-form-field class="dropdown"  *ngIf="business" appearance="fill">
        <mat-label class="label" >בחר שירות בעסק</mat-label>
        <mat-select  [(ngModel)]="selectedService" name="service">
          <mat-option *ngFor="let service of business.Services" [value]="service">
            {{service.ServiceName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button class="button" *ngIf="!selectedService" mat-button (click)="CheckPassword(password.value)">אישור</button>
    </div>
    <div class="button" *ngIf="selectedService"><button mat-button (click)="next()">הכנס</button></div>

  </mat-card-content>
</mat-card>