:host {
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
    text-align: center;
  }

  mat-card-title,
  mat-card-content {
    justify-content: center;
  }

  *{
    font-family: heebo !important;
  }

  *:focus{
    outline: none;
  }

  .logo{
    height: 25vh;
    display: block;
    margin: auto;
    }
    
    .input {
      display: flex;
      border: 3px solid #067ca5;
      color: #067ca5;
      border-radius: 5.923mm;
      margin: 25px auto;
      width: 50%;
      font-size: 20px;
      background-color: white;
      line-height: 35px;
      justify-content: center;
      font-family: heebo;
      font-weight: 500;
    }

    .button {
      display: flex;
      justify-content: center;
      border: 4px solid #067ca5;
      color: white;
      border-radius: 5.923mm;
      margin: 25px auto;
      width: 50%;
      font-size: 20px;
      background-color: #067ca5;
      font-family: heebo;
    }
    
    .card{
      width: 40%;
      margin: auto;
      box-shadow: -5px -5px 28px #00000073;
      border-radius: 0;
      padding: 0;
      padding-bottom: 1px;
    }
    
    .titleCard{
      text-align: center;
      color:white;
      background-color: #48b5be;
      padding: 10px;
      font-size: 28px;
        font-weight: 700;
    }
.label{
  color: #067ca5;

}

    .mat-form-field-flex{
      display: flex;
      border: 3px solid #067ca5;
      color: #067ca5;
      border-radius: 5.923mm;
      margin: 0px auto;
      width: 50%;
      font-size: 20px;
      background-color: white;
      justify-content: center;
      font-family: heebo;
      padding: 0;
    }

    .mat-form-field-flex{
      color:none;
    }


