
// variables
/*colors*/
$garbit-black:#333333;
$garbit-green:#28c0a5;
$garbit-orang:#f1a647;





.nav-btn {
  width: 130px;
  height: 12.5%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-bottom: 1px dashed #80808020;


  i{
    font-size: 24px;
    padding: 11px;
 
  }
  span{line-height: 1.4;
  }
}
.col-md-9-new {
  max-width: 100% !important;
}
.cdk-overlay-pane {
  height: 200px !important;
  width: 200px !important;
}

.nav-btn:hover{
  cursor: pointer;
}

.active i,
.nav-btn:hover i
{
  background-color:($garbit-green);
   color: white;
  border-radius: 50%;
}



.nav-btn:hover i

{
 
 animation: navAnimation .2s;
  
}

@keyframes navAnimation {

  0%{
    padding:8px;
  }

  100%{
    padding: 11px;
  }

}

.nav-btn:hover span

{
 
 animation: navAnimationSpan .2s;
  
}

@keyframes navAnimationSpan {

  0%{
    padding-top:6px;
  }

  100%{
    padding-top: 0px;
  }

}




.active span,
.nav-btn:hover span
{
 color:($garbit-green);
 
}



// #dashboard{
//   background:url( "../../../assets/dashboard.png");
// }
// #dashboard{
//   background-image:url("../../../assets/dashboard.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   border-bottom: 1px dashed #80808020; 
 
// }
// #dashboard.active{
//   background-color:($garbit-green);
//   background-image:url("../../../assets/w_dashboard.png");
//   background-repeat: no-repeat;
//   background-position: center;
// }
// #garbage{
//   background-image:url("../../../assets/garbage.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   border-bottom: 1px dashed #80808020; 
//   background-size: 40%;
 
// }
// #garbage.active{
//   background-color:($garbit-green);
//   background-image:url("../../../assets/w_garbage.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 40%;
// }
// #truck{
//   background-image:url("../../../assets/truck.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   border-bottom: 1px dashed #80808020;
//   background-size: 50%;
 
// }
// #truck.active{
//   background-color:($garbit-green);
//   background-image:url("../../../assets/w_truck.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 50%;
// }
// #map1{
//   background-image:url("../../../assets/map.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   border-bottom: 1px dashed #80808020;
 
// }
// #map1.active{
//   background-color:($garbit-green);
//   background-image:url("../../../assets/w_map.png");
//   background-repeat: no-repeat;
//   background-position: center;
// }
// #history{
//   background-image:url("../../../assets/history.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   border-bottom: 1px dashed #80808020;
 
// }
// #history.active{
//   background-color:($garbit-green);
//   background-image:url("../../../assets/w_history.png");
//   background-repeat: no-repeat;
//   background-position: center;
// }
// #settings{
//   background-image:url("../../../assets/settings.png");
//   background-position: center;
//   background-repeat: no-repeat;
//   border-bottom: 1px dashed #80808020;
 
// }
// #settings.active{
//   background-color:($garbit-green);
//   background-image:url("../../../assets/w_settings.png");
//   background-repeat: no-repeat;
//   background-position: center;
// }

.side-menu{
 
  width: 130px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);;
  z-index: 9;
}

.main-wrap{
 width: calc(100% - 130px);
}


.top-header{
  background-color:($garbit-black);
   height: 49px;
  color: white;
  padding: 12px 20px;

img{
  position: absolute;
  top: 0;
  right: 130px;
  z-index: 2;
}


}

.log-out-btn{
cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 0;
  border: none;
  font-size: 20px !important;

  span{
    vertical-align: middle;
  }
}


.main-content{

  padding: 19px 48px;
  position: relative;
  height: calc(100% - 49px);
  overflow: auto;
 
}






.bg-map-img{
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img{
      height: 100%;
    }
}

